@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #282C34;
  color: #ABB2BF;
}

input, select, button {
  background: white;
  border: 0px solid;
}

input {
  text-align: left;
  width: 30%;
  color: black;
}

button {
  border: 2px solid red;
}
